.wrapper {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2.29167vw;
    position: relative;
}

.container {
    margin: 0 auto;
    max-width: 1024px;
    width: 100%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
    padding: 0 min(70px, 5.6vw);
}

.title-wrapper {
    margin: 50px auto !important;
}

@media (max-width: 1365px) {
    .wrapper {
        padding-bottom: 3.22344vw;
    }
    .title-container {
        margin-top: 16.84982vw;
    }

    .title {
        font-size: 7.32601vw;
    }

    .sub-title {
        font-size: 3.07692vw;
    }
}

@media (max-width: 1024px) {
    .wrapper {
        padding-bottom: 5.73664vw;
    }

    .title-container {
        margin-top: 29.98696vw;
    }

    .title {
        font-size: 8.3442vw;
    }

    .sub-title {
        font-size: 4.1721vw;
    }
}

@media (max-width: 767px) {
    .wrapper {
        padding-bottom: 12.22222vw;
    }

    .titles-container {
        margin-top: 41.11111vw;
    }

    .title {
        font-size: 17.77778vw;
    }

    .sub-title {
        font-size: 5.55556vw;
        font-weight: 200;
        margin-top: 2.22222vw;
        padding: 0 16.66667vw;
    }

    .container {
        margin: 0 auto 72px;
    }
}

.faq-description {
    font-size: 14px;
}
