.content {
    margin: 20px 0;
}

.inner {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: min(90rem, 90%);
    max-width: 840px;
    position: relative;
    margin: 0 auto;
}
